.help__header {
    margin: 10px;
    padding: 20px;
}

.help__header > h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.help {
    text-align: center;
}

/* mobiscroll.Button {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin-left: 100px !important;
} */